<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      
      <a class="navbar-brand" href="/"><%= image_tag("food.gif", :alt => "image",:width => 50, :height => 31) %> Restaurant App</a>
    </div>
  </div>
</nav>