   <div class="container">
      <div class="text-center about-template">
        <h2>About Restaurant App</h2><br>   

        <p class="lead">The Restaurant app was designed using Ruby on Rails.<br>
        It also provides a geolocation-based map as well as <br>
        a database of owners and restaurants.<br>
        <br>
        <p class="lead">Here are some more technical details about the application:<br><br>
        <span class="glyphicon glyphicon-check"></span> Built using Ruby on Rails <br>
        <span class="glyphicon glyphicon-check"></span> Deployed on Heroku<br>
        <span class="glyphicon glyphicon-check"></span> Uses Routing, Models, Views, Helper Methods, and Controllers<br>
        <span class="glyphicon glyphicon-check"></span> Designed using HTML5, CSS3, Bootstrap, and Javascript<br>
       <br>
        To review the source code, please visit github here: <br><br>
        <%= link_to "Restaurant App on Github", "http://github.com/nalexiou/myapp", target: "_blank" %> <br><br>
         Thank you for visiting!</p>
	  </div>
    </div>