<div class="row">
<div class="col-sm-12">
	<h2>Editing restaurant</h2>
<!-- 	<h2>Please edit the restaurant listing below</h2> -->
</div>
<%= render 'form' %>
<!-- 	<div class="col-sm-3">
	<strong>Owner:</strong>
	</div>
		<div class="col-sm-9">
		<%= @owner.name %>
		</div> -->
</div>

<%= link_to 'Back', restaurants_path, class: "btn btn-default" %>
