html,
body{
	height: 70%;
	margin: 0px;
	padding: 0px;
}
#map-canvas{
	height: 70%;
	margin: 0;
	padding: 100px;
	max-width: 500px;
	}

#main-container{
  padding: 50px;
 background-color: #FFFFCC;
}

#main-container > div > div.col-xs-3 > img{
	margin-top: 000px;   
}
